
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <div id = 'app' class='hello'>
    <p :class='sync' class='hello'>{{a+'...'+arr[0]}}</p>
    <!-- <input class="kk" key='kkk' ref='hellodiv' v-model='a' @input='search'/> -->
    <!-- <div>hello</div> -->
    <!-- <div v-for="item in arr">
      hello{{item+1}}
    </div>
    <textarea>hey jude<p>123</p></textarea>
    <div>hello</div>-->
    <p>
      <router-link to="/foo">Go to Foo</router-link>
      <router-link to="/bar/user">Go to Bar</router-link>
    </p>
    <router-view></router-view> 
  </div>
  
  <script type="text/javascript" src="vue.js"></script>
  <script type="text/javascript" src="vue-router.js"></script>
  <!-- <script type="text/javascript" src="vuex.js"></script> -->
  <script>
    //vue router相关
    const Foo = { 
      template: '<div>foo</div>',
      mounted(){
      console.log(this.$route.query,typeof this.$route.query.name)
      },
      destoryed(){
        console.log(111)
      }
    }
    const Bar = { 
      template: '<div>bar<div>{{id}}</div><a @click="aa">go to foo</a></div>',
      data(){
        return {
          id:'',
        
        }
      },
      methods:{
        aa(){
          console.log(this.$router)
          this.$router.push({name:'foo',params:{name:'jck'}})
        }
      },
      mounted(){
        console.log(this.$route,this.$router)
        this.id = this.$route.params.id
      } 
    }

    const routes = [
        { path: '/foo',name:'foo', component: Foo },
        { path: '/bar/:id?',name:'bar', component: Bar }
      ]
    const router = new VueRouter({
      routes
    })
    // let moduleA = {
    //   namespaced: true,
    //   state(){ 
    //     return{
    //       counta: 2329,
    //     }
    //   },
    //   getters:{
    //     getCount(...args){
    //       console.log(args)
    //       return  'this is a getter~~~~~'
    //     }
    //   },
    //   mutations: {
    //     incrementaaa (state) {
    //       state.counta++
    //     }
    //   }
    // }

    // let moduleB = {
    //   namespaced: true,
    //   state: { 
    //     countb: 0,
    //   },
    //   getters:{
    //     getCount(...args){
    //       console.log(args)
    //       return  'this is a getter~~~~~'
    //     }
    //   },
    //   mutations: {
    //     increment (state) {
    //       state.countb++
    //     }
    //   },
    //   modules: {
    //     aa: moduleA,
    //   }
    // }


    // // vuex相关代码
    // const store = new Vuex.Store({
    //   state: { 
    //     count: 0,
    //   },
    //   getters:{
    //     getCount(...args){
    //       console.log(args)
    //       return  'this is a getter'
    //     }
    //   },
    //   mutations: {
    //     increment (state) {
    //       state.count++
    //     }
    //   },
    //   modules: {
    //     a: moduleA,
    //     b: moduleB
    //   }
    // })
    let app = new Vue({
      el:'#app',
      // store,
      // comments:true,
      data(){
        return {
          a:'hello world',
          b:false,
          arr:[1,3,4],
          sync:'hahah',
          obj:{kk:1}
        }
      },
      watch:{
        arr:{
          handler:function(){
            console.log('发生变化啦')
          },
          deep:true
        }
      },
      mounted(){
        // setTimeout(()=>{
        //   console.log(this)
        //   this.a = 'hello hell'
        // },5000)
      },
      methods:{
        search(val){
          console.log('input:',val.target.composing,this.a)
        }
      },
      router,
    })
  </script>
</body>
</html>